<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN1akNDQWFLZ0F3SUJBZ0lCQURB
	TkJna3Foa2lHOXcwQkFRVUZBREFBTUI0WERURTJNVEV6TURFeE1qQXgKTjFvWERUSTJN
	VEV5T0RFeE1qQXhOMW93QURDQ0FTSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnRVBBREND
	QVFvQwpnZ0VCQUpzdnRrU3E1RkljSDhuMWZ0cDFHenhJOFJWR2pXQndLSWI3OExOT0tt
	T243TVZ6eXdNb3hIMEhYZGdmCjlhTDBkeEJwVWY1RnpXZ0JyUllKczFWanU0b1pvT0Qw
	TFJ2bU5MWUJCc2ZNdmlXMkIyRi9pZFRrNUduL1ZFWlMKZGw0TUw5aDB6Um0yTjlDSFdN
	ZWp6TTVDY1QrS1UxK0V5ejJsQ1duVUgyZm16RnFsVlFWcTY0UUJ6N1NLQUIvWQpwcmtF
	RkNPSUlDOVdGa1NQOWg0SldJcEFLOHB0aXFibWV5a1k5QjJyeW5QcENwdktEMkNROXcv
	Z0ZBdk1wakt5CkJra3RheTFnSFRiVnBWQ2EzMGl4Z3hDR3VTTG05NzVBNEV2c28zSzRB
	MGdad0JVdWZrYyt2Ni9uZ3p4R2h4Z20KVTl2RjFRMHBSaXNyWVpZK1lkQVpGVnlFbmdr
	Q0F3RUFBYU0vTUQwd0RBWURWUjBUQVFIL0JBSXdBREFkQmdOVgpIUTRFRmdRVVlNN3J0
	cEhueFBCZjRTZ1lUekFNbEl2YzMyRXdEZ1lEVlIwUEFRSC9CQVFEQWdXZ01BMEdDU3FH
	ClNJYjNEUUVCQlFVQUE0SUJBUUFndmJjQXErNmpzd0o3SW9jQ2dKZDlOclBEcDBEcjY4
	VG9hV1p3QStuYXB4TU0KVDg4Q0pCTnZnbC9IV0lnUmJKbk02cGhYUGxZUEtLZm5jRW4r
	Y0M0MmtpK2dkaW5yQ2JpMmlnRmRDb1pCVWN5dAp2djlvbTcyOEY3TVZ5OFRBNlh0QklM
	VU5DYVB2U2QyaE8yY3NYVzlnS2hYbFJBOVJkdGVpNENwS0wyMHloYmVFCm8ra1RJR25N
	VUE5TXk0b3hKbmRrWmF0bmJOMS9ONnlCVkVtYkx1aVp0aXBjZmFaZWRxVFFqcFFrcGxs
	emFVR2sKZk5ORmhvMi9mbExnelhyTlc5b05uSHlpdE53c00yQ1dRRysveE5SMjNZZkpJ
	YSs2UDFvcmFxM2VUbFpzZWlzWQo4d2xLTmQyam8rWWx5b2t2V3JVL1poZllldDgyb3NF
	U1R3VlkyT3V0Ci0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K
	</data>
	<key>EscrowBag</key>
	<data>
	MDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDA=
	</data>
	<key>HostCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN1akNDQWFLZ0F3SUJBZ0lCQURB
	TkJna3Foa2lHOXcwQkFRVUZBREFBTUI0WERURTJNVEV6TURFeE1qQXgKTjFvWERUSTJN
	VEV5T0RFeE1qQXhOMW93QURDQ0FTSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnRVBBREND
	QVFvQwpnZ0VCQUxPZEwzR2VYT3kveHZFRUlOL25MS0dZWklkeEl0WUFwTm1Hb1ZnRFJl
	VVZVbUpOSkhsSmZ2aW5xY3IxCnBORWhlbkFNS1UrdXpnMjZValR5cmx2TVBqY29TUStY
	eTVzQnpLcjErbEs4OHFvME1jT04xMFN4dEFORkRyTUIKcmJlcnNaUGhUNU5MUk1qb01R
	MHNpNXArMllQMVg2OVAxYTREWTNWcXc3YTVleWtyOUgzai9vbUJKVVFkOUdxdgpMQlRT
	YzRZZ3RRMTdvRlovTXNqZ2l3VWRJMWk4VXRiSHZzRzZwQktiT2dvZFUwSFJLdkM5c0dq
	YXR5ejROaVh0CmQ0WG1jTFJRR3JTVi9hYkRtSnNBS1FqRWVGcVFHOFFHYTZCVzJGUU1m
	YmdnSXE5U0hhcmxZTjZFUUFjYnZmSjAKN1VtSHBreFBRcEVlUEM2WGlDMjU4aDZJK25F
	Q0F3RUFBYU0vTUQwd0RBWURWUjBUQVFIL0JBSXdBREFkQmdOVgpIUTRFRmdRVXJnT052
	a2U3OTFtR0tzTnBlMGlBMVNxM2wrWXdEZ1lEVlIwUEFRSC9CQVFEQWdXZ01BMEdDU3FH
	ClNJYjNEUUVCQlFVQUE0SUJBUUNweVdLdk1QT3lZREtGRjA3dCs0WE02YWxlNkZOcDFl
	ZVgySXhiZXl6TkwvV0UKdnFGWmE4M04yRFJTYmJ6V0FjRHlaSkdVWHJjOStyZWk5OXVp
	TVo5WCtQL2pkdDNvUFFHV2FHcjdmelhmbHRXagpGNVRwUDBTcHZvRkJYZDF4U2NldmZJ
	dlBycXBpbDdHYVQwWktXQWtVWWJLNisrQ2YxTUgxMWd3ZjhvNFhiUUVPCjJvTmdGUWN0
	enlsM2gvYlZQd1gydDRSVEw2eXdsNEV4ay92T3F1R0pMcit5RUN2VzhJYkN4T1dnMkdR
	ZWZ2T2cKdGN2Z2JOWkJ4cmRwaytFY3dyWUlZQUkxdGpIaTB1VG9CYTBHaEY3SjY1SExI
	RnZkUnVxbkVIcC8zeXJJUUFuRgpaaWtJVVdtcmhTR2pXWUd6U0FGcHAva28rN1F2MFRQ
	ZmNtc0xBaHowCi0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K
	</data>
	<key>HostID</key>
	<string>01234567-012345678901234567</string>
	<key>HostPrivateKey</key>
	<data>
	LS0tLS1CRUdJTiBSU0EgUFJJVkFURSBLRVktLS0tLQpNSUlFb3dJQkFBS0NBUUVBczUw
	dmNaNWM3TC9HOFFRZzMrY3NvWmhraDNFaTFnQ2syWWFoV0FORjVSVlNZazBrCmVVbCsr
	S2VweXZXazBTRjZjQXdwVDY3T0RicFNOUEt1Vzh3K055aEpENWZMbXdITXF2WDZVcnp5
	cWpReHc0M1gKUkxHMEEwVU9zd0d0dDZ1eGsrRlBrMHRFeU9neERTeUxtbjdaZy9WZnIw
	L1ZyZ05qZFdyRHRybDdLU3YwZmVQKwppWUVsUkIzMGFxOHNGTkp6aGlDMURYdWdWbjh5
	eU9DTEJSMGpXTHhTMXNlK3dicWtFcHM2Q2gxVFFkRXE4TDJ3CmFOcTNMUGcySmUxM2hl
	Wnd0RkFhdEpYOXBzT1ltd0FwQ01SNFdwQWJ4QVpyb0ZiWVZBeDl1Q0FpcjFJZHF1VmcK
	M29SQUJ4dTk4blR0U1llbVRFOUNrUjQ4THBlSUxibnlIb2o2Y1FJREFRQUJBb0lCQVFD
	ajVYalhlcVJjdkpxeQpid3Y0aENBcnpMMWZBaFBCcDVERmxaNUFpNndKNEN6dTJtbS82
	eHJibDFMT2l0dzhvUW55bUlaUjJiYll1LzRyCnBvOEg0UldjaXp3djZGbTROaW9tanBJ
	L1VYODFaSzlNUEhBRWxRc29PS216R29NRUtMMi9yVWRKcHRNN2FQVHAKaW81UkNoTTk0
	SGZScDAzYW5lanh5ZHlSTGl0K1lyK3lYTW9GaXdvK0tBdzg2b3Vibnl1U0xkKyt1RHZY
	eFluKwpZTkZsd0ZkdzZJa2U5VGJ6SGc1Y0FXd3Nndmh0RXpMbzh0dHlzWXovSVlyNDlF
	L245SnNMNmxUVE8wdHdDcFJvCkkrN0tOcDRCVDBMRXNiajBGWVFkRTdzV1ZUNklZRVdH
	a2pVc3gvN1k3RHdyTFl1bmc2QmdJRSs1OHQwUkhyUUEKVUtmK1hGUEpBb0dCQU9JSS9m
	S3JaK3RvRVlzMlBnKzJNODROWEpmWEdMNE1qd0pqVytRajZGVFVDS1p1ekZoawo3TWYx
	RVRFYWNmcVorOFhsRkVRenhOL3lDSjRZdjVEWE1kQVd2eXV5NzRvb2RibUp0d0xhSmFS
	T0dBYW5wWmRIClNCTit4YWFXbTV1YXhFcHBJZTh3OEFna1YvdG1yN20yVEFmRHh0Rm1V
	SGFqNVZ5ZU8xTHU5ZGNMQW9HQkFNdHMKeWVsTmt3eThJVEF3YWg5UVozWTdVRG1NZTA3
	SC9qMVhqeTcvZVB4djl6M0s2eFQxSUtsQ1lYR1RnZXZkQXQySQpPYThJVUFBOHY2ZzlR
	NlRUV05ObWpWTjJIeHRTQ0RyQUh0VjBUQkl5bEhBbnF6c3Vrclhzd3dhRTM1eFU3d1o4
	ClhtQW9KRUtSRlIvbFBYaVlGeU9KNUM0YWFoV3lCMlZkTHhWWEJuSHpBb0dBRXlieDVZ
	cnlmamJPTGI2RjJhejEKak1NREVuYU9TU1FsUmUySFRyaGdLamZoRjhFUm5YZkh2Rldl
	aEV1YVZzS1BXOEJDVEZrYW1HTVlxZFNzL3FmTgpON1dGc3oweElNSzIzdWExVkErSjJ2
	Y25BQUZhZll2enBuczZZaGdtelRONjZGY3FJZXRDbTE0QStuTkQ5bmRrCno4K2QzQVpR
	VVEwb0ZRWHZQdUt5ZitzQ2dZQjlzVFI1RVZPZzlNVlU3elZETC8wZGtyeVpNbkltVlhD
	RUdvd0EKTUI1amJCTktmUTBRSC80VVYwMjZUYmhqTW1aSTE1azh5MWdUTFhZRzBBUHgz
	aHp1VWxsVWpwSGQ0YXZ3RVRGOApGcVhDUUxwektpK2xHN3ZPNlFJQUR5M1RmSzlNUktC
	VHJibnAzNWM3NC9zOWZrd2R5MS9RRk1ZanJhTGdRTm1NCngvN1ZmUUtCZ0J2VzFOaWtz
	WmpaS2xWVjhYWFlxNXAxK2ZGZERxaTRnWDBpa1BJVkhjdko2TlJMbjg1KzVNSWMKUHBK
	c1A3dFF3ZWpUR3FybjFGR3hHaVNYRWM4Z3NyVDZSOUtNUXZtN1o3VENJSGU5dUMrdjF1
	djVUeXlFWjdCQgpCY2NDNjZDd2pnTG9qRXQxdFhCYkdNY04xaW0rSDdabTNHMDZBWGNL
	SXlvOU1YSnhyeFRoCi0tLS0tRU5EIFJTQSBQUklWQVRFIEtFWS0tLS0tCg==
	</data>
	<key>RootCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNyVENDQVpXZ0F3SUJBZ0lCQURB
	TkJna3Foa2lHOXcwQkFRVUZBREFBTUI0WERURTJNVEV6TURFeE1qQXgKTjFvWERUSTJN
	VEV5T0RFeE1qQXhOMW93QURDQ0FTSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnRVBBREND
	QVFvQwpnZ0VCQU1SQUpJdG1qQm1rMHJTeWt2cVU5d3QzbG1DakZydmdjN1F1T2dnWTNs
	YUR0SlRFSVBCN0hwWnpoQjFjCnBNamtKRXdrbDBxeDlVdm0rMHdTaFM0ekpwa3QrZGZp
	RHpTclAyMnRuc0lFOHd2eDBmZHFtdm55N3V0Q0NpUkUKbXRqSlMrZW1idnNoZkhVbUpL
	dzVaOTJwaEdCQWlGZUFySFVNdGlCZk9xU2lmSEY4VnJhdzE0RGoyc3hXNE90cQpCdXNH
	VlRWZklSWWdEL0tBcWw2T2oxRjBNdzJnMDVSV1J1MlliWEtTN05QQjdpMEdNVGtoYWRP
	dnphK3ZORzA2CnZuZjdwMlB2T0xSVytwVk1zU1U5aDdoMm5vZXlmOGFyb3did2JDT2VV
	S3Z1c2s3aHdEdCtTbVJ0eWQyaEQxMG4KTG5qWFVWVWlNVDMvSlU3MEZYUGllNVdZeVdz
	Q0F3RUFBYU15TURBd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBZApCZ05WSFE0RUZnUVVt
	bnEvT2ZGZHhkaWNwUllybUk0SVB2YVdnd1F3RFFZSktvWklodmNOQVFFRkJRQURnZ0VC
	CkFFYlRJL080OVc1QmdFOWdxbTIvVkk0ZmU3NHY0VDlLeUNPWFRKWjdoRGRaY3YzenJx
	WUp2Vm1yTk96Q3FOSFgKTU4rbGFOTFJSRzZiNXRMek52bVViczh3dUhTZUZNMWE1WjBC
	Q0FTOFUyQUc5cjlXQXJUd0lPUEtESWNyS3hhUQo4cEszdlArQytuRzlXWmFuWWQyREVC
	Ty9qR3BNL0RwZEZmYUdOWWxQZXNCdEUzVWdpK2dEb0VkbFlYSENFR3VmClJ3TlBmUFFL
	WE1jcXJzckxVL0lLZTNNUVZNdll2QzhGV0M3MUlxSG9STnB4bWp4SWwxOUIyMWZ5M1RV
	dWJJSjIKWkZSa1NGRE94V3A4ZXFzUS9NQjdHWFh5bVZsMGpoY0VVdElYRHM5NU5SazUv
	ZDg1YjdEUkxFZllsd1M1UzJFZwprTTh3SVZySXRNTjFzNXpqMDlmeFJadz0KLS0tLS1F
	TkQgQ0VSVElGSUNBVEUtLS0tLQo=
	</data>
	<key>RootPrivateKey</key>
	<data>
	LS0tLS1CRUdJTiBSU0EgUFJJVkFURSBLRVktLS0tLQpNSUlFcEFJQkFBS0NBUUVBeEVB
	a2kyYU1HYVRTdExLUytwVDNDM2VXWUtNV3UrQnp0QzQ2Q0JqZVZvTzBsTVFnCjhIc2Vs
	bk9FSFZ5a3lPUWtUQ1NYU3JIMVMrYjdUQktGTGpNbW1TMzUxK0lQTktzL2JhMmV3Z1R6
	Qy9IUjkycWEKK2ZMdTYwSUtKRVNhMk1sTDU2WnUreUY4ZFNZa3JEbG4zYW1FWUVDSVY0
	Q3NkUXkySUY4NnBLSjhjWHhXdHJEWApnT1BhekZiZzYyb0c2d1pWTlY4aEZpQVA4b0Nx
	WG82UFVYUXpEYURUbEZaRzdaaHRjcExzMDhIdUxRWXhPU0ZwCjA2L05yNjgwYlRxK2Qv
	dW5ZKzg0dEZiNmxVeXhKVDJIdUhhZWg3Si94cXVqQnZCc0k1NVFxKzZ5VHVIQU8zNUsK
	WkczSjNhRVBYU2N1ZU5kUlZTSXhQZjhsVHZRVmMrSjdsWmpKYXdJREFRQUJBb0lCQVFD
	MnNvd1M1bldZemZPRwpXeFF2aVl4dk5YWmVJcFhnYzdUalVZR2UxaC91WkpBeFNtRHIz
	NEo3UjdEL2NLYkxpbkFzSG9obDlrUEkxSkN2Cm9qSXY3MWlJazkrYTFZMllWN0FsMTlN
	TEJuYUpjU2NwOFNtemRUQnMvVDdad3JCeER2ekYvQkFuWkdZcjNVV1kKdTV4eEpBWGpZ
	VkJNUGJMUENQVm9MNTgxY3pyc25kUWp5K1lGeWZNbi9ScUtSSHhNK0dTZVFIVmoxVkdI
	Vm1IVQpaR2hCYlJleGNuVnVrbFZDMHMvUkVRaWRCN01EZlV5UU9OeVNOdk1Xc2hCMk9s
	UysraEEva1dKZkc0ck81VzNvCk9sVXhmclVWZkZzQmdSVm1zTy9EQ0UxeGpCTnNja0g2
	UW9iMFIyZ05hOVhQc1NtMTA2Z3VtY2FxdDhKR2N4dDYKY2N5VVJtbTVBb0dCQVBZeXNV
	dkEzQWRzeUZEdnIvQTcra2ZSYnFseVRRVFB1WHRjMnNBOVJSbnk3QWtEUTJjTQo4TkJT
	ZHI1NmlyUkFOYjEzc1N5WFdQWkhaUjFxd3lVd2hHeVFvYlJpdHc3b1crMzRWSmhMZGph
	UGx6VlZYOWVtCjJxSXRWbEg3RWN5RW53QUY1QXR0M005bmJPYWVsNFlnTWZBQU9aQW9X
	VXRpc1Q5NUprMFgyVGZIQW9HQkFNd1EKWDhLWHVudFFGTUZzUE1ZVHoyMHhzMkpOWHpp
	RVEyWjNOWm1XNGZOWHNyZ081QVhvdkdHUWNOMkhuaHBOc0h1ZQo4UTVpRys3YUNwZDQy
	VXNpN0lPeXdaazJjcUpJTnlFcW5pNndadHRJSjhhaW8rYlZyUFI4L3lGRk8vVVM0OWxS
	Cjc0MmZHN3FvbXl4ZUV6ZFlSRStMUFB6c2U5RHRCZXhnQzZVS0c0azlBb0dCQUltNHY4
	OUZtcEFZdlZIeFV2VkwKUisybTdZV2lhQTA1K21OVkJSV204S0hjYjBkM2FOd2J0QmFG
	R3VIaEFQaG1OdW0vTEFCcXhadzNRZ3dicmdCKwp6SVZDdndKK2VqSy9yclZIUm1OUFMx
	aW9LSWp3TWtZYms1QkhWbE5UNUpnSTFEMGFEb0NLTzR4V0tlZzBiVVRkCmU3SHJIa2hU
	R2VoKzAvSlMzaWNnSVNYL0FvR0FDbFRSNUZJMk9NUUhLUHZIMytkazJ3eG5IcFQ0T3k1
	SEUwcjUKeGJyajJhUVpBa1NPdXRYYm83emlXZlRoeGtja3BqMlh5cmlnM1dqZ25HYWI2
	YmZzN1lZQlV6WjBlMDdZcTY4eQpydjV6VnFyQ2lNWDNNbHFqRlFXM0RRSXFWUEFONVJU
	RzRnNnFJcnNpa0E1N1BwUVRjVXVGWFBERUhBSEVDUUdiCjFWRTdyNmtDZ1lCL3lDdlIr
	bk5WQUg3STUxQmw1a1gzbkhPVHIrUEptUk43NnpqRUpuRFV5MWFKNS90cXlBY1YKRmlk
	UGVXM2MzS05ySkxsNElGcnFBL1NtRmQwYWJWTzh6cEZjL2FUU053NXlwQTdwNG1zVGZ2
	TGduTzNUaEk3dApOWnV1ZWZTbjRLZE9KYVJBN3Y2ajBKTXI4NERTUml1b25JNnU5WFNH
	V0l1cnFHbjc2TlJBMVE9PQotLS0tLUVORCBSU0EgUFJJVkFURSBLRVktLS0tLQo=
	</data>
	<key>SystemBUID</key>
	<string>01234567890123456789012345</string>
	<key>WiFiMACAddress</key>
	<string>01:23:45:67:89:ab</string>
</dict>
</plist>
